@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0; 
    padding: 0; 
}  

header {
    position: sticky; 
    top: 0px; 
    background-color: white; 
} 
.active{
    border-bottom: 1px solid #212540; 
}

.headerSection {
    display: flex; 
    justify-content: space-between; 
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    width: 95%; 
    margin: auto; 
} 

.headerSection img{
    width: 85px;
}

.headerSection ul li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
} 
.headerSection ul li a {
    text-decoration: none; 
    color: black;
}  
.heroSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.685)), url("../images/aboutusbg.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding: 50px;
    height: 150px;
    color: white; 
} 
.heroSection h2{
    font-family: 'Poppins', sans-serif; 
    text-align: center; 
    font-size: 40px;
} 
.heroSection p{
    font-family: 'Poppins', sans-serif; 
    text-align: center; 
} 
.heroSection span{
    color: yellow;
}  
.aboutusSection{
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
    width: 95%; 
    margin: auto; 
}
.aboutusContent h2, .aboutusContent h3{
    font-family: 'Inter', sans-serif;
}
.aboutusContent h3{
    margin-top: 15px; 
    font-size: 25px;
}
.aboutusContent p{
    font-family: 'Poppins', sans-serif; 
    width: 750px;
    margin-top: 10px;
} 
.aboutusContent img{
    width: 100px;
    margin-top: 10px; 
} 
.aboutImg img{
    width: 453px;
    height: 415px; 
} 
.workingWithus {
    background: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.685)),url("../images/aboutcompany.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 150px;
    padding: 50px;
    color: white; 
} 
.workingWithus h5, .workingWithus h2{
    font-family: 'Inter', sans-serif; 
    text-align: center;
    margin-top: 15px; 
}
.workingWithus h5{
    font-size: 15px;
}
.workingWithus h2{
    color: yellow; 
    margin-top: 10px;
}
.workingWithus p{
    text-align: center; 
    font-family: 'Poppins', sans-serif; 
    width: 650px;
    margin-left: 27%;
    margin-top: 10px;
} 
.working{
    width: 95%; 
    margin: auto; 
} 
.workingSection{
    padding: 20px;
}
.workingSection h1 {
    font-family: 'Inter', sans-serif;
}
.workingSection p , .workingSection ul{
    font-family: 'Poppins', sans-serif; 
}
.workingSection p{
    margin-top: 10px;
}
.workingSection ul{
    display: grid;
    grid-template-columns: repeat(5,15%);
    margin-top: 15px;
    font-weight: bolder;
}
.workingSection ul li{
    list-style: none; 
} 
.workingSection ul li a{
    text-decoration: none;
    color: black;
}
.workingSection ul li a:hover{
    background-color: #212540; 
    padding: 10px;
    color: white; 
    border-radius: 10px;
} 
.cardSection {
    display: flex;
    gap: 8%;
    justify-content: center;
    margin-top: 5px; 
}
.cardContent img{
    width: 350px;
} 
.cardSectionTwo{
    display: flex;
    gap: 8%;
    justify-content: center;
    margin-top: 5px 
}
.footerContent{
    width: 95%; 
    margin: auto; 
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.footerSection{
    background-color: #212540; 
    color: white;
    padding: 30px;
    margin-top: 30px;
} 
.footerOne h5, .footerTwo h5, .footerThree h5, .footerFour h5{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}  
.footerOne img{
    margin-top: 10px; 
    color: white;
}
 
.footerOne p, .footerFour p{
    font-family: 'Poppins', sans-serif;
    width: 250px; 
    font-size: 15px;
    margin-top: 15px;
} 
.footerTwo ul li, .footerThree ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif; 
    margin-top: 15px;
}  
.footerFour input {
    margin-top: 15px; 
    width: 250px;
    padding: 5px;
}  
.inputBox{
    display: flex; 
} 
.inputBox .button{
    background-color: yellow; 
    color: black; 
    width: 60px;
    padding: 5px; 
    margin-left: 5px; 
} 
.inputBox a{
    text-decoration: none; 
    color: black;
}
.copyRightsSection {
    background-color: white; 
    display: flex; 
    justify-content: space-between; 
    font-family: 'Inter', sans-serif; 
    font-weight: bolder;
    padding: 10px;
    width: 95%; 
    margin: auto; 
} 
.copyRightsSection i{
    margin-right: 2px;
} 

/*Code For Mobile Responsive*/
@media screen and (max-width : 500px) {  
    .headerSection img{
        width: 50px;
        margin-top: 10px;
    }
    .headerSection ul li{
        font-size: 10px;
    }  
    .heroSection{
        height: 80px;
    }
    .heroImage{
        display: none; 
    } 
    .heroSection h2{
        font-size: 18px; 
        margin-left: 28px;
    } 
    .heroSection p{
        font-size: 10px;
        margin-left: 25px;
        margin-top: 10px;
    } 
    .heroSection button{
        font-size: 15px; 
        padding: 5px;
        margin-left: 88px;
    }  
    .aboutusSection{
        display: block; 
    } 
    .aboutusContent h2, .aboutusContent h3 {
        font-size: 20px;
    } 
    .aboutusContent p{
        font-size: 10px;
        width: 350px;
    } 
    .aboutusContent img{
        width: 80px;
    }
    .aboutImg{
        display: none;
    }  
    .workingWithus{
        height: 100px;
    } 
    .workingWithus h5{
        margin-top: -15px;
    }
    .workingWithus p{
        margin-left: 5px; 
        font-size: 10px;
        width: 300px; 
    }  
    .workingSection p{
        font-size: 10px;
    }
    .workingSection ul li{
        font-size: 8px;
    }
    .cardSection{
        display: block; 
    }  
    .cardContent img{
        width: 350px;
        margin-left: 16px;
    }
    .cardSectionTwo{
        display: none; 
    }
    .footerContent{
        display: block; 
    } 
    .footerTwo h5, .footerThree, .footerFour h5{
        margin-top: 20px;
    } 
    .copyRightsSection{
        font-size: 10px;
        padding: 5px; 
    } 
   
} /*Code For Mobile Responsive Ends*/  

/*Code for tab responsive*/

@media (min-width : 700px) and (max-width : 851px) {
    .aboutImg img{
        display: none; 
    }  
    .aboutusContent{
        margin-left: 20px;
    }
    .workingWithus h5, .workingWithus h2{
        text-align: center; 
    } 
    .workingWithus p{
        margin-left: 38px;
        margin-top: 15px;
    }
    .cardContent img{
        width: 200px;
    } 
    .footerSection{
        display: flex; 
        flex-direction: column;
    }  
    .footerTwo h5, .footerThree h5, .footerFour h5{
        margin-top: 25px;
    } 
    .copyRightsSection{
        padding: 10px;
    }
} /*Code for tab responsive Ends*/